name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  tagged-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: npm run package
      - id: get_version
        uses: battila7/get-version-action@v2
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.get_version.outputs.version }}
      - uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}
          tag_name: ${{ steps.get_version.outputs.version }}
          files: psalm-vscode-plugin-${{ steps.get_version.outputs.version }}.vsix